.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: blue;
    padding: 8px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.footer p{
    margin-bottom: 0;
    color: white;
}